body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;

}


.header {
  display: flex;
  width: 100%;
  background-color: #274C77;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.header-item {
  width: 300px;
}

.header-text {
  color: #E7ECEF;
}

.nav-items {
  color: #E7ECEF;
  display: flex;
  list-style: none;
  
  
}

.nav-items li:not(:last-child) {
  border-right: .15vw solid #E7ECEF;
}

.nav-items li a{
  text-decoration: none;
  color: inherit;
  padding: 1vw;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2vh;
}

.skills-text {
  text-decoration-line: underline;
}

.skill-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.skill-icon {
  width: 2vw;
  height: 2vw;
}

.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 20%;
  margin: 1%;
  border: 2px solid black;
}

.project-card-image {
  border: 1px solid black;
  width: 100%;
  height: 80%;
}

.resume-container {
  background-color: #E7ECEF;
  text-decoration: none;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-container a {
  text-decoration: none;
  color: #8B8C89;
}

.resume-icon {
  height: 40%;
  width: 13%;
}

.resume-icon a img {
  height: 100%;
  width: 100%;
}

.contact-container {
  display: flex;
  height: 800px;
  align-items: center;
  justify-content: center;
}

.contact-info-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: .2vw solid #6096BA;
  padding: 10px;
}

.contact-info-container div {
  font-size: 2vh;
}

.contact-form-container {
  margin-left: 10%;
}

.form-control {
  margin-top: 5%;
}

